@model DemoDotNet5.ViewModel.CustomerViewModel

<div class="container">
    <h2>Insert Customer</h2>
    <form method="post" asp-action="EditPost">
        <input asp-for="Id" hidden />
        <input asp-for="CreatedAt" hidden />
        <input asp-for="UserProfileId" hidden />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label for="email">Username:</label>
            <input asp-for="Username" type="text" class="form-control" placeholder="Enter Username">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input asp-for="Password" type="text" class="form-control" placeholder="Enter Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="pwd">Fullname:</label>
            <input asp-for="Fullname" type="text" class="form-control" placeholder="Enter Fullname">
            <span asp-validation-for="Fullname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="pwd">Email:</label>
            <input asp-for="Email" type="text" class="form-control" placeholder="Enter Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="pwd">Address:</label>
            <input asp-for="Address" type="text" class="form-control" placeholder="Enter Address">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
       

        <button type="submit" class="btn btn-primary">Update</button>
        <a class="btn btn-secondary" asp-controller="Customer" asp-action="Index">Back</a>
    </form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
