@model DemoDotNet5.ViewModel.CustomerViewModel
@{
    ViewData["Title"] = "LoginCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-9 col-md-12">
    <div class="customer_login">
        <div class="row">
            <!--register area start-->
            <div class="col-lg-12">
                <div class="account_form register">
                    <h2>Login</h2>
                    <form action="CheckLoginCustomer" method="post">
                        <p>
                            <label>Email address  <span>*</span></label>
                            <input asp-for="Username" type="text">
                        </p>
                        <p>
                            <label>Passwords <span>*</span></label>
                            <input asp-for="Password" type="password">
                        </p>
                        <div class="login_submit">
                            <button type="submit">Login</button>
                        </div>
                        <a asp-controller="Customer" asp-action="RegisterCustomer">Create a new account ?</a>
                    </form>
                </div>
            </div>
            <!--register area end-->
        </div>
    </div>
</div>

