@model DemoDotNet5.ViewModel.CustomerViewModel
@{
    ViewData["Title"] = "RegisterCustomer";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="col-lg-12 col-md-12">
    <div class="customer_login">
        <div class="row">
            <!--register area start-->
            <div class="col-lg-12">
                <div class="account_form register">
                    <h2>Register</h2>
                    <form action="CheckLoginCustomer" method="post">
                        <p>
                            <label>Email address  <span>*</span></label>
                            <input asp-for="Username" type="text">
                        </p>
                        <p>
                            <label>Passwords <span>*</span></label>
                            <input asp-for="Password" type="text">
                        </p>
                        <p>
                            <label>Passwords <span>*</span></label>
                            <input asp-for="Fullname" type="text">
                        </p>
                        <p>
                            <label>Passwords <span>*</span></label>
                            <input asp-for="Email" type="text">
                        </p>
                        <p>
                            <label>Passwords <span>*</span></label>
                            <input asp-for="Address" type="text">
                        </p>
                        <p>
                            <label>Passwords <span>*</span></label>
                            <input asp-for="CreatedAt" type="text">
                        </p>
                        <p>
                            <label>Passwords <span>*</span></label>
                            <input asp-for="UserProfileId" type="text">
                        </p>
                        <div class="login_submit">
                            <button type="submit">Register</button>
                        </div>
                        <a asp-controller="Customer" asp-action="LoginCustomer">Back to page Login?</a>
                    </form>
                </div>
            </div>
            <!--register area end-->
        </div>
    </div>
</div>



