@*Thiết lập đường dẫn hiển thị trên URL*@
@page
@model LoginModel


<header>Login Form</header>
<form id="account" method="post">
    <div class="field">
        <span class="fa fa-user"></span>
        <input asp-for="Input.Email" placeholder="Enter Username" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="field space">
        <span class="fa fa-lock"></span>
        <input asp-for="Input.Password" placeholder="Enter Password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="pass">
        <a href="#">Forgot Password?</a>
    </div>
    <div class="field">
        <input type="submit" value="LOGIN">
    </div>
</form>
<div class="login">
    Or login with
</div>
<div class="links">
    <div class="facebook">
        <i class="fab fa-facebook-f"><span>Facebook</span></i>
    </div>
    <div class="instagram">
        <i class="fab fa-instagram"><span>Instagram</span></i>
    </div>
</div>
<div class="signup">
    Don't have account?
    <a asp-area="Identity" asp-page="./Register">Signup Now</a>
</div>

