@page

@model RegisterModel



<header>Signup Form</header>
<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="field space">
        <span class="fa fa-user"></span>
        <input asp-for="Input.Email" placeholder="Enter Email" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="field space">
        <span class="fa fa-lock"></span>
        <input asp-for="Input.FirstName" placeholder="Enter FirstName" />
        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
    </div>
    <div class="field space">
        <span class="fa fa-user"></span>
        <input asp-for="Input.LastName" placeholder="Enter LastName" />
        <span asp-validation-for="Input.LastName" class="text-danger"></span>
    </div>
    <div class="field space">
        <span class="fa fa-lock"></span>
        <input asp-for="Input.PhoneNumber" placeholder="Enter PhoneNumber" />
        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="field space">
        <span class="fa fa-user"></span>
        <input asp-for="Input.Password" placeholder="Enter Password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="field space">
        <span class="fa fa-lock"></span>
        <input asp-for="Input.ConfirmPassword" placeholder="Enter ConfirmPassword" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="field space">
        <input type="submit" value="REGISTER">
    </div>
</form>
<br />
<div class="signup">
    Back to Signin?
    <a asp-area="Identity" asp-page="Login">Signin Now</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
