@page
@model DemoDotNet5.Areas.Identity.Pages.User.IndexModel
@{
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-8">
            <h2 class="text-dark">User List</h2>
        </div>
        <div class="col-4">
            <div class="form-group">
                <form asp-action="Index" method="get">
                    <div class="input-group">
                        <input type="text" name="SearchString" class="form-control" placeholder="Search ...">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br /><br />
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        @if (string.IsNullOrEmpty(user.RollNames))
                        {
                            <a class="text-dark" asp-page="./Create" asp-route-id="@user.Id">+ Add Role </a>
                        }
                        else
                        {
                            <a asp-page="./Create" asp-route-Id="@user.Id">@user.RollNames</a>

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary" asp-page="../Role/Index">
            Back
        </a>
    </div>
</div>